<template name="ApplicationLayout">

    <head>
        <title>chatroom</title>
        <link type="text/css" rel="stylesheet" href="css/bootstrap-theme.css">
        <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="css/custom-style.css">
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <header>

            <div class="navbar-fixed">
                
                <nav>
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo">uChat</a>
                        <ul class="right hide-on-med-and-down">
                            <li>{{> loginButtons}}</li>
                            <li><a href="sass.html">Sass</a></li>
                            <li><a href="badges.html">Components</a></li>
                            
                        </ul>
                    </div>
                </nav>
            </div>

        </header>

        <main>
            {{> yield}}
        </main>
    </body>
</template>


