.jumbotron {
    height: 300px;
    margin-top: -30px;
}

.navbar-default {
    background-color: #B2EED5;
}

#u {
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid pink;
    border-radius: 360px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
}

#h1-1 {
    padding-bottom: 20px;
}

#chat {
    color: darkgrey;
}

.jumbotron {
    height: 100%;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
  }

  main {
    flex: 1 0 auto;
  }

footer {
    margin-bottom: -16px;
}