<template name="home" style="display: block; margin: auto;">
    {{#if currentUser}}
    {{message}}
    <h2>Welcome!</h2> 
    
    <ul style="border-top: 1px solid black; padding-top: 30px; height: 600px; overflow-y: auto;" >
    {{#each posts}}
        <li style="text-align: center;">{{username}}:{{name}}</li>
    {{/each}}{{> friends}}
    </ul>
     <h2 class="post-class">{{name}}</h2>
    {{else}}
        <div class="container">
            <div class="section">
                <div class="card-panel">
                    <h3>Please create an account and log in to chat</h3>
                </div>
            </div>
        </div>
    {{/if}}
</template>
               

<template class="box" name="friends">
    <div class="container">
        <div class="section" style="width: 300px; display: block; margin: auto;">
            <div class="card-panel">
                <h2 class="txt">Friends list</h2>
            </div>
        </div>
    </div>
    {{#each listUser}}
    <table>
        <thead>
            <tr>
                <p id="userNameOnList"> {{username}}</p>
            </tr>
        </thead>
    </table>
    {{/each}}
    
         <footer class="page-footer">
          <div class="container">
            <form class="name-form" style="display: block; margin: auto;">
        <input type="text" name="firstname">
        <input style="display: block; margin: auto; margin-bottom: 20px;"  class="waves-effect waves-light btn" type="submit">
    </form>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
            
    
</template>

